body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
} /* navigation */

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em; /* 2em = 28px */
} /* header  */

.example {
  padding-top: 30px;
  text-align: center;
} /* should the top padding be greater than 10px to be placed higher than h3? */

h3 {
  font-size: 1.3em; /* 1.3em = 18.2px */
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
} /* should this padding be more than 30 px to be placed lower than h1? */

.element2 {
  background-color: #D1C2C2;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
